 <beans:beans xmlns="http://www.springframework.org/schema/security" 
  xmlns:beans="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
 xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
                http://www.springframework.org/schema/security   
             http://www.springframework.org/schema/security/spring-security-3.1.xsd"> 


       <beans:bean id="appUserDetailsService" class="com.sgbr.security.AppUserDetailsService"/>
       
    <!-- Acesso a todos as imagens estatica do sistema-->
    
  
      <http pattern="/javax.faces.resource/**" security="none"/> 
      <http pattern="/Login.xhtml" security="none"/>      
      <http pattern="/Error.xhtml" security="none"/>     
      <http auto-config="false" use-expressions="true"> 
  
 
    <!-- controle de acesso as paginas  -->

     <intercept-url pattern="/Index.xhtml" access="isAuthenticated()"/> 
     <intercept-url pattern="/Erro.xhtml" access="isAuthenticated()"/> 
     <intercept-url pattern="/caixa/**" access="hasAnyRole('Administrador','Caixa')"/> 
     <intercept-url pattern="/funcionario/**" access="hasAnyRole('Administrador')"/> 
     <intercept-url pattern="/relatorio/**" access="hasAnyRole('Administrador')"/> 
     <intercept-url pattern="/funcionario/PesquisaFuncionario.xhtml" access="hasAnyRole('Administrador')"/> 
     <intercept-url pattern="/mesa/**" access="hasAnyRole('Administrador','Garcom')"/> 
     <intercept-url pattern="/pedidos/**" access="hasAnyRole('Administrador','Garcom')"/> 
     <intercept-url pattern="/pedidos/CadastroPedido.xhtml" access="hasAnyRole('Administrador','Garcom')"/>
     <intercept-url pattern="/pedidos/PesquisaPedido.xhtml" access="hasAnyRole('Administrador','Garcom')"/> 
     <intercept-url pattern="/mesa/**" access="hasAnyRole('Administrador','Garçom')"/> 
     <intercept-url pattern="/produtos/**" access="hasAnyRole('Administrador')"/>
     <intercept-url pattern="/produtos/PesquisaProduto.xhtml" access="hasAnyRole('Administrador' , 'Garcom')"/> 
     <intercept-url pattern="/WEB-INF/template/pedidos/**" access="hasAnyRole('Administrador','Garcom')"/> 
     <intercept-url pattern="/**" access="denyAll"/> 
     <form-login login-page="/Login.xhtml" authentication-failure-url="/Login.xhtml?invalid=true" 
     default-target-url="/" always-use-default-target="true"/>
     <logout logout-url="/j_spring_security_logout" invalidate-session="true"/>
      
      </http> 

     <authentication-manager>  
	     <authentication-provider user-service-ref="appUserDetailsService"> 
	    </authentication-provider>
     </authentication-manager> 
    
    
</beans:beans> 